body {
    background-color: #fbf7f4;
    background-image: url('../images/noisy-texture-80x80.png');
}

.inner-header {
    margin-bottom: 32px;
}

.inner-header-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
}

.account-link {
    background-image: url('../images/navigation/acoount.svg');
}

.navigation {
    justify-content: space-between;
}

.breadcrumbs {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #242424;
    display: flex;
    list-style: none;
    margin: 0;
    padding:0;
}

.breadcrumbs-item:after {
    content: url("../images/breadcrums/bullet.svg");
    display: inline-block;
    position: relative;
    padding-right: 4px;
}
.breadcrumbs-item:last-child:after {
    display: none;
}

.breadcrumbs-link {
    color: inherit;
    text-transform:capitalize;
}

.page-header-logo {
    padding-top: 5px;
}

.catalog-filter-group {
    border: 0;
    padding: 0;
    margin: 0 0 40px;
}

.catalog-filter-title {
    text-transform: uppercase;
    font-size: 20px;
    color: #242424;
    font-weight: 700;
    font-style: normal;
    line-height: 140%;
    padding: 14px 0;
}

.catalog-products {
    display: flex;
}

.catalog-filter {
    width: 220px;
    margin-right: 20px;
}

.catalog-right-column {
    width: 700px;
    background-color: #fff;
}

.sorting-container {
    color: #000000;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 14px;
}

/* Item */
.product-card {
    background-color: #ffffff;
}

/* Link */
.product-card-link {
    text-decoration: none;
}

/* Title */
.product-card-title {
    font-weight: 700;
    color: #242424;
}

/* Price */
.product-card-price {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #814b18;
    text-transform: uppercase;
}


/* Link */
.pagination {
    background-color: #ffffff;
    display: flex;
    list-style: none;
    gap: 8px;
    padding: 17px 16px;
    margin: 0;
}

.pagination-link {
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    line-height: 16px;
    font-weight: 700;
    font-size: 16px;
    display: block;
    padding: 14px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.pagination-current {
    color: #242424;
    background-color: #ffffff;
}

.pagination-disabled {
    background-color: #595959;
    cursor: inherit;
}

.pagination-arrow {
    padding: 13px 16px;
}

.pagination-else {
    margin-left: auto;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
}

.product-card {
    list-style: none;
    width: 220px;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(79, 70, 60, 0.16);
}
.product-card-link {
    width: 100%;
}

.product-card-description {
    height: 100%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.product-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    padding: 0;
    margin: 0 0 8px;
}
.product-card-price {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #814B18;
}

.select-control {
    border-radius: 0;
    border: 2px solid #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    padding: 10px 92px 10px 16px;
    background-color: inherit;
}

.select-control-container:after {
    content: "";
    position: relative;
    background-image: url('../images/select/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0;
    padding: 0;
    right: 40px;
    top: 3px;
}

.select-control:focus-visible {
    outline:none;
}

.control-button-container {
    display: flex;
}

.button-control {
    height: 46px;
    width: 64px;
    display: block;
    padding: 0;
}

.button-list {
    background-image: url('../images/list-style/list.svg');
}

.button-card {
    background-image: url('../images/list-style/cards.svg');
}

.range-slider {
    height: 4px;
    position: relative;
    background-color: #242424;
    border-radius: 2px;
}
.range-selected {
    height: 100%;
    left: 20%;
    right: 20%;
    position: absolute;
    border-radius: 5px;
    background-color: #AF7842;
}

.range-input {
    position: relative;
}
.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #242424;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #1b53c0;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}

.range-price {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    gap: 4px;
}
.range-price input {
    width: 27px;
    border: none;
    background-color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.catalog-filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.control-input {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.catalog-filter-item label {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
}

.control-input+label::before {
    position: relative;
    content: '';
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/checkbox/inactive.svg');
    padding: 8px;
    right: 8px;
}

.control-input:checked+label::before {
    background-image: url('../images/checkbox/active.svg');
}

.control-radio {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control-radio+label::before {
    position: relative;
    content: '';
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/radio/inactive.svg');
    padding: 8px;
    right: 8px;
}

.control-radio:checked+label::before {
    background-image: url('../images/radio/active.svg');
}

.catalog-filter-submit {
    margin-bottom: 40px;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}